*::selection {
  background-color: #2962ffb2;
  color: #fff;
}

.ds-title {
  color: #313747;
  font-weight: 900;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.ds-subtitle {
  color: #757d94;
  font-size: 0.9rem;
}

p {
  margin: 0 !important;
}
