*::selection {
  background-color: #2962ffb2;
  color: #fff;
}

.ds-title {
  color: #313747;
  font-weight: 900;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.ds-contenteditable {
  border: 2.25px solid transparent;
  border-radius: 3px;
  outline: 0;
  text-transform: none;

  &:hover {
    border: 2.25px solid #e5e5e5;
  }

  &:focus {
    border: 2.25px solid #2962ff;
  }
}

.ds-title--small {
  color: #313747;
  font-weight: 900;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.ds-subtitle {
  color: #757d94;
  font-size: 0.9rem;
}

p {
  margin: 0 !important;
}

.ds-info--icon {
  border-radius: 50%;
  background-color: #f1f5f9;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
  color: #313747;
  pointer-events: visible !important;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #e3e6e9;
  }
}
