@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.ds-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(12.5rem, auto);
  border: 2px dashed #f1f1f1;
  border-radius: $border-radius-x-large;
  padding: 2rem;
  width: 100%;
  user-select: none;
  box-sizing: border-box;
  position: relative;

  .ds-list--entity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #dadce0;
    border-radius: $border-radius-small;
    padding: 0.5rem;
    margin: 1rem;
    word-wrap: break-word;
    transition: all 0.1s ease-in-out;

    &:hover {
      // top: -3px;
      // box-shadow: rgba(80, 80, 80, 0.15) 0px 5px 15px;
      background-color: #f5f9fd;
    }

    * {
      pointer-events: none;
    }

    .title {
      color: rgba(0, 0, 0, 0.72);
      font-size: 0.9rem;
      display: flex;
      align-items: center;
    }

    .subtitle {
      color: rgba(0, 0, 0, 0.54);
    }

    .tag {
      font-size: 0.8rem;
      color: rgb(248, 248, 248);
      margin-top: 0.5rem;
      padding: 0.2rem 1.5rem;
      background-color: #2962ff94;
      border-radius: 15px;
    }

    .entity-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      pointer-events: none;
    }

    .entity-body--row {
      margin: 0.4rem 0;
    }

    .entity-share {
      border-radius: 50%;
      background-color: #f1f5f9;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.2s ease-in-out;
      width: 25px;
      height: 25px;
      color: #313747;
      pointer-events: visible !important;
    }

    .entity-share:hover {
      background-color: #e3e6e9;
    }

    .entity-icon--access {
      font-size: 0.8rem;
      color: rgb(154, 156, 158);
    }

    .entity-icon--star {
      color: #ffcc47;
      margin-right: 0.2rem;
    }

    .entity-icon--star--off {
      color: #d9dde0;
      margin-right: 0.2rem;
    }

    .entity-state {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 0;
      opacity: 0;
      animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
    }

    .entity-state--container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .entity-state--blue {
      background-color: #2962ff;
    }
    .entity-state--green {
      background-color: #3ead7f;
    }
    .entity-state--red {
      background-color: #e73636;
    }
  }

  .active {
    background-color: #e8f0fe !important;
  }
}
