.info-parametros {
  text-align: center;
}

.text-dark {
  color: #727070;
  font-weight: 700;
  font-size: 1.3rem;
}

.ds-form .form-control {
  background-color: #f1f5f9;
  border-radius: 15px;
  border: 1.75px solid transparent;
  outline: 0;
  padding: 1rem !important;
  color: #757d94;
}
