<form *ngIf="encuesta" name="deleteForm" (ngSubmit)="confirmPublish(encuesta!)">
  <div class="modal-header">
    <!-- <h4 class="modal-title" data-cy="encuestaDeleteDialogHeading" jhiTranslate="entity.publish.title">Confirm delete operation</h4>-->
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-delete-encuesta-heading">Elija la fecha de finalización de su encencuesta</p>
    <input type="date" onchange="fechaFinalizacionIsInvalid()" />
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button
      disabled="fechaFinalizarInvalid"
      id="jhi-confirm-delete-encuesta"
      data-cy="entityConfirmDeleteButton"
      type="submit"
      class="ds-btn ds-btn--primary"
    >
      &nbsp;<span jhiTranslate="entity.action.publish">Delete</span>
    </button>
  </div>
</form>
