<form name="deleteForm">
  <div class="modal-header">
    <!-- <h4 class="modal-title" data-cy="encuestaDeleteDialogHeading" jhiTranslate="entity.publish.title">Confirm delete operation</h4>-->
  </div>

  <div class="modal-body">
    <h1 class="ds-title">Plantilla: {{ plantilla!.nombre }}</h1>
    <h2 class="ds-title--small">Cantidad: 1</h2>
    <h2 class="ds-title--small">Total: ${{ plantilla!.precio }}</h2>

    <hr />
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>

  <div class="modal-footer">
    <button type="button" class="ds-btn ds-btn--secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
  </div>
</form>
