<div>
  <h2 id="page-heading" data-cy="EPreguntaAbiertaRespuestaHeading">
    <span jhiTranslate="dataSurveyApp.ePreguntaAbiertaRespuesta.home.title">E Pregunta Abierta Respuestas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dataSurveyApp.ePreguntaAbiertaRespuesta.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-e-pregunta-abierta-respuesta"
        [routerLink]="['/e-pregunta-abierta-respuesta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dataSurveyApp.ePreguntaAbiertaRespuesta.home.createLabel"> Create a new E Pregunta Abierta Respuesta </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ePreguntaAbiertaRespuestas?.length === 0">
    <span jhiTranslate="dataSurveyApp.ePreguntaAbiertaRespuesta.home.notFound">No ePreguntaAbiertaRespuestas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ePreguntaAbiertaRespuestas && ePreguntaAbiertaRespuestas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="dataSurveyApp.ePreguntaAbiertaRespuesta.respuesta">Respuesta</span></th>
          <th scope="col"><span jhiTranslate="dataSurveyApp.ePreguntaAbiertaRespuesta.ePreguntaAbierta">E Pregunta Abierta</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ePreguntaAbiertaRespuesta of ePreguntaAbiertaRespuestas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/e-pregunta-abierta-respuesta', ePreguntaAbiertaRespuesta.id, 'view']">{{ ePreguntaAbiertaRespuesta.id }}</a>
          </td>
          <td>{{ ePreguntaAbiertaRespuesta.respuesta }}</td>
          <td>
            <div *ngIf="ePreguntaAbiertaRespuesta.epreguntaAbierta">
              <a [routerLink]="['/e-pregunta-abierta', ePreguntaAbiertaRespuesta.epreguntaAbierta?.id, 'view']">{{
                ePreguntaAbiertaRespuesta.epreguntaAbierta?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/e-pregunta-abierta-respuesta', ePreguntaAbiertaRespuesta.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/e-pregunta-abierta-respuesta', ePreguntaAbiertaRespuesta.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ePreguntaAbiertaRespuesta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
