<div>
  <h2 id="page-heading" data-cy="ParametroAplicacionHeading">
    <span jhiTranslate="dataSurveyApp.parametroAplicacion.home.title">Parametro Aplicacions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dataSurveyApp.parametroAplicacion.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parametroAplicacions?.length === 0">
    <span jhiTranslate="dataSurveyApp.parametroAplicacion.home.notFound">No parametroAplicacions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parametroAplicacions && parametroAplicacions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="dataSurveyApp.parametroAplicacion.minDiasEncuesta">Min Dias Encuesta</span></th>
          <th scope="col"><span jhiTranslate="dataSurveyApp.parametroAplicacion.maxDiasEncuesta">Max Dias Encuesta</span></th>
          <th scope="col"><span jhiTranslate="dataSurveyApp.parametroAplicacion.minCantidadPreguntas">Min Cantidad Preguntas</span></th>
          <th scope="col"><span jhiTranslate="dataSurveyApp.parametroAplicacion.maxCantidadPreguntas">Max Cantidad Preguntas</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parametroAplicacion of parametroAplicacions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/parametro-aplicacion', parametroAplicacion.id, 'view']">{{ parametroAplicacion.id }}</a>
          </td>
          <td>{{ parametroAplicacion.minDiasEncuesta }}</td>
          <td>{{ parametroAplicacion.maxDiasEncuesta }}</td>
          <td>{{ parametroAplicacion.minCantidadPreguntas }}</td>
          <td>{{ parametroAplicacion.maxCantidadPreguntas }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/parametro-aplicacion', parametroAplicacion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/parametro-aplicacion', parametroAplicacion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(parametroAplicacion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
