.social-box {
  display: inline-block;
  width: 3em;
  height: 4em;
  margin-left: 2.7em;
  text-align: center;
  font-size: 130px;
  opacity: 0.3;
}

.container div:last-child {
  margin-right: 0;
}
