<form class="ds-form" [formGroup]="passwordForm" name="deleteForm" (ngSubmit)="submitPassword()">
  <div *ngIf="this.isWrong">
    <p>Contraseña incorrecta</p>
  </div>
  <div class="modal-body">
    <p class="ds-title--small" jhiTranslate="dataSurveyApp.encuesta.password.title">Enter password</p>
    <p class="ds-subtitle" id="jhi-delete-encuesta-heading" jhiTranslate="dataSurveyApp.encuesta.password.text">
      This survey is marked as private, please enter the password
    </p>
    <input [(ngModel)]="passwordInput" type="password" name="passwordInput" id="passwordInput" placeholder="qwerty..." />
  </div>

  <div class="modal-footer">
    <button type="button" class="ds-btn ds-btn--secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button
      id="jhi-confirm-delete-option"
      data-cy="submit"
      type="submit"
      class="ds-btn ds-btn--primary"
      [disabled]="passwordForm.get('password')!.invalid"
    >
      <span jhiTranslate="entity.action.submit">Submit</span>
    </button>
  </div>
</form>
