<!-- <div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h1 jhiTranslate="login.title" data-cy="loginTitle">Sign in</h1>
      <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" data-cy="loginError">
        <strong>Failed to sign in!</strong> Please check your credentials and try again.
      </div>
      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="form-group">
          <label class="username-label" for="username" jhiTranslate="global.form.username.label">Login</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="{{ 'global.form.username.placeholder' | translate }}"
            formControlName="username"
            #username
            data-cy="username"
          />
        </div>

        <div class="form-group">
          <label for="password" jhiTranslate="login.form.password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="{{ 'login.form.password.placeholder' | translate }}"
            formControlName="password"
            data-cy="password"
          />
        </div>

        <div class="form-check">
          <label class="form-check-label" for="rememberMe">
            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
            <span jhiTranslate="login.form.rememberme">Remember me</span>
          </label>
        </div>

        <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button" data-cy="submit">Sign in</button>
      </form>
      <div class="mt-3 alert alert-warning">
        <a class="alert-link" routerLink="/account/reset/request" jhiTranslate="login.password.forgot" data-cy="forgetYourPasswordSelector"
          >Did you forget your password?</a
        >
      </div>

      <div class="alert alert-warning">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
        <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
    </div>
  </div>
</div> -->

<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5" style="height: 100vh; background-color: #f1f5f9">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-4 col-lg-5">
        <div class="card mt-5">
          <!-- Logo -->
          <div class="pl-4 pt-4 pr-4 pb-1 text-center">
            <img src="../../content/img_datasurvey/datasurvey-logo-text-black.svg" alt="" />
          </div>

          <div class="card-body p-4">
            <div class="text-center w-75 m-auto">
              <h4 class="text-dark-50 text-center pb-0 fw-bold p-0 m-0" style="color: #727070; font-weight: 700; font-size: 1.3rem">
                INICIAR SESION
              </h4>
              <p class="mb-4" style="color: rgba(146, 146, 146, 0.664)">Ingrese su correo electrónico y contraseña</p>
            </div>

            <div
              class="alert alert-danger"
              *ngIf="authenticationError"
              jhiTranslate="login.messages.error.authentication"
              data-cy="loginError"
            >
              <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>

            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
              <div class="mb-3">
                <div class="form-group">
                  <label for="username" class="form-label">Correo electrónico</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    id="username"
                    placeholder="{{ 'global.form.email.placeholder' | translate }}"
                    formControlName="username"
                    #username
                    data-cy="username"
                  />
                  <div
                    *ngIf="loginForm.get('username')!.invalid && (loginForm.get('username')!.dirty || loginForm.get('username')!.touched)"
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="loginForm.get('username')?.errors?.required"
                      jhiTranslate="global.messages.validate.email.required"
                    >
                      Your email is required.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="loginForm.get('username')?.errors?.invalid"
                      jhiTranslate="global.messages.validate.email.invalid"
                    >
                      Your email is invalid.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="loginForm.get('username')?.errors?.minlength"
                      jhiTranslate="global.messages.validate.email.minlength"
                    >
                      Your email is required to be at least 5 characters.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="loginForm.get('username')?.errors?.maxlength"
                      jhiTranslate="global.messages.validate.email.maxlength"
                    >
                      Your email cannot be longer than 100 characters.
                    </small>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <div class="form-group">
                  <label for="password" jhiTranslate="login.form.password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    placeholder="{{ 'login.form.password.placeholder' | translate }}"
                    formControlName="password"
                    data-cy="password"
                  />
                  <div
                    *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)"
                  >
                    <small
                      class="form-text text-danger"
                      *ngIf="loginForm.get('password')?.errors?.required"
                      jhiTranslate="global.messages.validate.newpassword.required"
                    >
                      Your password is required
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="loginForm.get('password')?.errors?.minlength"
                      jhiTranslate="global.messages.validate.newpassword.minlength"
                    >
                      Your password is required to be at least 8 characters
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="loginForm.get('password')?.errors?.maxlength"
                      jhiTranslate="global.messages.validate.newpassword.maxlength"
                    >
                      Your password cannot be longer than 50 characters
                    </small>
                  </div>
                </div>
              </div>

              <div class="mb-3 mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
                  <label class="form-check-label" for="checkbox-signin" jhiTranslate="login.form.rememberme">Remember me</label>
                </div>
                <a routerLink="/account/reset/request" class="text-muted float-end"
                  ><small jhiTranslate="login.password.forgot">Forgot your password?</small></a
                >
              </div>

              <div class="mb-3 mb-0 text-center">
                <button type="submit" class="btn btn-primary w-100" data-cy="submit">Iniciar sesion</button>
              </div>
            </form>

            <div class="google-btn w-80 m-auto">
              <div class="google-icon-wrapper">
                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
              </div>
              <button class="btn-text" (click)="signInWithGoogle()">Iniciar con Google</button>
            </div>

            <!--<div class="mb-3 mb-0">
              <button class="btn" (click)="signInWithGoogle()">
                <i class="fa fa-Google">Iniciar con Google</i>
              </button>
            </div>-->
          </div>
          <!-- end card-body -->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-muted">
              ¿Listo para explorar?
              <a routerLink="/account/register" class="text-muted ms-1"><b>Crea una cuenta</b></a>
            </p>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
