<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Welcome, Java Hipster!</span> (Data Survey)</h1>

    <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
        ><span jhiTranslate="global.messages.info.authenticated.suffix"
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
    </div>

    <p jhiTranslate="home.question">If you have any question on JHipster:</p>

    <ul>
      <li>
        <a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage"
          >JHipster homepage</a
        >
      </li>
      <li>
        <a
          href="https://stackoverflow.com/tags/jhipster/info"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.stackoverflow"
          >JHipster on Stack Overflow</a
        >
      </li>
      <li>
        <a
          href="https://github.com/jhipster/generator-jhipster/issues?state=open"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.bugtracker"
          >JHipster bug tracker</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat"
          >JHipster public chat room</a
        >
      </li>
      <li>
        <a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow"
          >follow @jhipster on Twitter</a
        >
      </li>
    </ul>

    <p>
      <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github"
        >GitHub</a
      >!
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="container-fluid navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
      <div class="container px-5 py-4">
        <a class="text-dark" href="index.html"
          ><img src="http://datasurvey.org/content/img_datasurvey/datasurvey-logo-text-black.svg" width="300" alt=""
        /></a>

        <div class="col-4">
          <a routerLink="/login">
            <button class="ds-btn ds-btn--primary fw-500 ms-lg-4">Iniciar Sesión</button>
          </a>

          <a routerLink="/account/register">
            <button class="ds-btn ds-btn--primary fw-500 ms-lg-4">Registrarse</button>
          </a>
        </div>
      </div>
    </div>
    <!-- Page Header-->
    <div
      class="page-header-ui page-header-ui-dark bg-img-cover overlay overlay-40"
      style="background-image: url('../../content/img_datasurvey/banner-home.jpg')"
    >
      <div class="page-header-ui-content py-5 position-relative">
        <div class="container px-5">
          <div class="row gx-5 justify-content-center">
            <div class="col-xl-8 col-lg-10 text-center">
              <div data-aos="fade-up">
                <h1 class="page-header-ui-title">We are a branding and design studio</h1>
                <p class="page-header-ui-text">
                  We are a group of creatives and developers who design, build, and optimize brands and digital experiences.
                </p>
              </div>
              <div class="row">
                <div class="col">
                  <a routerLink="/login">
                    <button class="ds-btn ds-btn--primary fw-500 ms-lg-4">Iniciar Sesión</button>
                  </a>
                  <a routerLink="/account/register">
                    <button class="ds-btn ds-btn--primary fw-500 ms-lg-4">Registrarse</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="svg-border-rounded text-white">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
          <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
      </div>
    </div>
    <div class="bg-white py-10" id="get-started">
      <div class="container px-5">
        <div class="row gx-5 text-center">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="droplet"></i></div>
            <h2>Design</h2>
            <p class="mb-0">We start by creating a set of brand guidelines and standards</p>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="code"></i></div>
            <h2>Develop</h2>
            <p class="mb-0">Our award winning development team creates personalized digital experiences</p>
          </div>
          <div class="col-lg-4">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="truck"></i></div>
            <h2>Deliver</h2>
            <p class="mb-0">Our products are created on time, and to your exact specifications</p>
          </div>
        </div>
      </div>
      <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
          <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
      </div>
    </div>
    <div class="bg-light py-10">
      <div class="container px-5">
        <h2 class="mb-4">Recent postings</h2>
        <div class="row gx-5">
          <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="#!">
              <img class="card-img-top" src="https://source.unsplash.com/tG36rvCeqng/800x500" alt="..." />
              <div class="card-body p-3">
                <div class="card-title small mb-0">Gray Bicycle</div>
                <div class="text-xs text-gray-500">Readcaster, CO · 2 days ago</div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="#!">
              <img class="card-img-top" src="https://source.unsplash.com/nHOz7sp5nHE/800x500" alt="..." />
              <div class="card-body p-3">
                <div class="card-title small mb-0">Hanimex Camera</div>
                <div class="text-xs text-gray-500">Waterlow, CO · 3 days ago</div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="#!">
              <img class="card-img-top" src="https://source.unsplash.com/GkFQEOubrCo/800x500" alt="..." />
              <div class="card-body p-3">
                <div class="card-title small mb-0">Macbook Pro</div>
                <div class="text-xs text-gray-500">Waterlow, CO · 4 hours ago</div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="#!">
              <img class="card-img-top" src="https://source.unsplash.com/3bdSGpKVAmk/800x500" alt="..." />
              <div class="card-body p-3">
                <div class="card-title small mb-0">Assorted Skin Care</div>
                <div class="text-xs text-gray-500">Waterlow, CO · 29 minutes ago</div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="#!">
              <img class="card-img-top" src="https://source.unsplash.com/w9IHmVSNBfU/800x500" alt="..." />
              <div class="card-body p-3">
                <div class="card-title small mb-0">Brown Ukulele</div>
                <div class="text-xs text-gray-500">Readcaster, CO · 3 days ago</div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="#!">
              <img class="card-img-top" src="https://source.unsplash.com/bpg-ngqrPc8/800x500" alt="..." />
              <div class="card-body p-3">
                <div class="card-title small mb-0">Leather Sofa</div>
                <div class="text-xs text-gray-500">Readcaster, CO · 2 hours ago</div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="#!">
              <img class="card-img-top" src="https://source.unsplash.com/fZuleEfeA1Q/800x500" alt="..." />
              <div class="card-body p-3">
                <div class="card-title small mb-0">Green Suede Sofa</div>
                <div class="text-xs text-gray-500">Waterlow, CO · 2 days ago</div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="#!">
              <img class="card-img-top" src="https://source.unsplash.com/rjhAiP3cj9E/800x500" alt="..." />
              <div class="card-body p-3">
                <div class="card-title small mb-0">Metal Chairs</div>
                <div class="text-xs text-gray-500">Readcaster, CO · 5 days ago</div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="#!">
              <img class="card-img-top" src="https://source.unsplash.com/5ba6j8d_oXY/800x500" alt="..." />
              <div class="card-body p-3">
                <div class="card-title small mb-0">Wireless Earbuds</div>
                <div class="text-xs text-gray-500">Readcaster, CO · 1 month ago</div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="#!">
              <img class="card-img-top" src="https://source.unsplash.com/ESoE_buQvNQ/800x500" alt="..." />
              <div class="card-body p-3">
                <div class="card-title small mb-0">Muscle Car</div>
                <div class="text-xs text-gray-500">Waterlow, CO · 1 week ago</div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="#!">
              <img class="card-img-top" src="https://source.unsplash.com/zuE9jsaVHuA/800x500" alt="..." />
              <div class="card-body p-3">
                <div class="card-title small mb-0">Hardwood Dresser</div>
                <div class="text-xs text-gray-500">Waterlow, CO · 2 weeks ago</div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <a class="card lift h-100" href="#!">
              <img class="card-img-top" src="https://source.unsplash.com/WuRsjF4iZK0/800x500" alt="..." />
              <div class="card-body p-3">
                <div class="card-title small mb-0">Classic Motorcycle</div>
                <div class="text-xs text-gray-500">Readcaster, CO · 1 week ago</div>
              </div>
            </a>
          </div>
        </div>
        <div class="mb-10">
          <a class="text-arrow-icon" href="#!">
            See more deals near you
            <i data-feather="arrow-right"></i>
          </a>
        </div>
        <h2 class="mb-4">Browse Categories</h2>
        <div class="row gx-5">
          <div class="col-lg-3 col-md-6 mb-5">
            <a class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-red" href="#!">
              <div class="card-body text-center">
                <div class="icon-stack icon-stack-xl bg-red text-white mb-2"><i class="fas fa-car"></i></div>
                <div class="small text-gray-600">Cars</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <a class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-orange" href="#!">
              <div class="card-body text-center">
                <div class="icon-stack icon-stack-xl bg-orange text-white mb-2"><i class="fas fa-home"></i></div>
                <div class="small text-gray-600">Housing</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <a class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-yellow" href="#!">
              <div class="card-body text-center">
                <div class="icon-stack icon-stack-xl bg-yellow text-white mb-2"><i class="fas fa-gift"></i></div>
                <div class="small text-gray-600">Free</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <a class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-green" href="#!">
              <div class="card-body text-center">
                <div class="icon-stack icon-stack-xl bg-green text-white mb-2"><i class="fas fa-mobile-alt"></i></div>
                <div class="small text-gray-600">Tech</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <a class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-cyan" href="#!">
              <div class="card-body text-center">
                <div class="icon-stack icon-stack-xl bg-cyan text-white mb-2"><i class="fas fa-couch"></i></div>
                <div class="small text-gray-600">Furniture</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <a class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-blue" href="#!">
              <div class="card-body text-center">
                <div class="icon-stack icon-stack-xl bg-blue text-white mb-2"><i class="fas fa-briefcase"></i></div>
                <div class="small text-gray-600">Jobs</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <a class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-purple" href="#!">
              <div class="card-body text-center">
                <div class="icon-stack icon-stack-xl bg-purple text-white mb-2"><i class="fas fa-motorcycle"></i></div>
                <div class="small text-gray-600">Leisure</div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6">
            <a class="card lift border-top-0 border-start-0 border-end-0 border-bottom-lg border-pink" href="#!">
              <div class="card-body text-center">
                <div class="icon-stack icon-stack-xl bg-pink text-white mb-2"><i class="fas fa-shopping-cart"></i></div>
                <div class="small text-gray-600">Other</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
