.ct-chart {
  width: 600px;
  height: 400px;
  overflow-x: scroll;
}
.grafico-encuestas-fecha .card {
  width: 600px;
}

.card .icon-big {
  font-size: 3em;
}

.icon-success {
  color: #00b88d;
}

.icon-users-active {
  color: #018adf;
}

.icon-users-block {
  color: #da1b2b;
}

.encuestas-por-categoria .table-responsive {
  height: 300px;
  max-height: 300px;
  overflow-x: none;
}

.por-categoria {
  padding: 5% 0;
}
