<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5" style="height: 100vh; background-color: #f1f5f9">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-4 col-lg-5">
        <div class="card mt-5">
          <!-- Logo -->
          <div class="pl-4 pt-4 pr-4 pb-1 text-center">
            <img src="../../content/img_datasurvey/datasurvey-logo-text-black.svg" alt="" />
          </div>

          <div class="card-body p-4">
            <div class="text-center w-75 m-auto">
              <h4
                class="text-dark-50 text-center pb-0 fw-bold p-0 m-0"
                style="color: #727070; font-weight: 700; font-size: 1.3rem"
                jhiTranslate="reset.request.title"
              >
                RESET YOUR PASSWORDD
              </h4>
              <p class="mb-4" style="color: rgba(146, 146, 146, 0.664)" jhiTranslate="reset.request.messages.info">
                Enter the email address you used to register.
              </p>
            </div>
            <div>
              <div class="alert alert-success" *ngIf="success">
                <span jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</span>
              </div>

              <div class="alert alert-danger" *ngIf="errorEmailNotExists" jhiTranslate="reset.request.messages.error.emailnotexists">
                <strong>Email no exists!</strong>
              </div>
              <div class="alert alert-danger" *ngIf="errorUserIsGoogle" jhiTranslate="reset.request.messages.error.userisgoogle">
                <strong>No cuenta con el permiso de restablecer su contraseña al haber activado su cuenta por medio de Google</strong>
              </div>
            </div>
            <form *ngIf="!success" name="form" class="ds-form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
              <div class="form-group">
                <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="{{ 'global.form.email.placeholder' | translate }}"
                  formControlName="email"
                  data-cy="emailResetPassword"
                  #email
                />

                <div
                  *ngIf="
                    resetRequestForm.get('email')!.invalid &&
                    (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
                  "
                >
                  <small
                    class="form-text text-danger"
                    *ngIf="resetRequestForm.get('email')?.errors?.required"
                    jhiTranslate="global.messages.validate.email.required"
                  >
                    Your email is required.
                  </small>

                  <small
                    class="form-text text-danger"
                    *ngIf="resetRequestForm.get('email')?.errors?.email"
                    jhiTranslate="global.messages.validate.email.invalid"
                  >
                    Your email is invalid.
                  </small>
                </div>
              </div>

              <div class="row justify-content-center">
                <button
                  type="button"
                  id="cancel-save"
                  data-cy="entityCreateCancelButton"
                  class="ds-btn ds-btn--secondary"
                  (click)="previousState()"
                >
                  <fa-icon icon="arrow-left"></fa-icon>&nbsp;&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
                </button>
                <button
                  type="submit"
                  [disabled]="resetRequestForm.invalid"
                  class="ds-btn ds-btn--primary"
                  jhiTranslate="reset.request.form.button"
                  data-cy="submit"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
          <!-- end card-body -->
        </div>
        <!-- end card -->
        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-muted">
              ¿Aún no se encuentra registrado/a?
              <a routerLink="/account/register" class="text-muted ms-1"><b>Crea una cuenta</b></a>
            </p>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
